.natash{
    position: absolute;
    background-color: aliceblue;
    width: 310px; height: 349px;
    margin-top: 100px;
    margin-left: 29px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    
}
.natash1{
    position: absolute;
    background-color: aliceblue;
    width: 310px; height: 349px;

    margin-top: 100px;
    margin-left:390px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    
}
.natash2{
    position: absolute;
    background-color: aliceblue;
    width: 310px; height: 349px;

    margin-top: 100px;
    margin-left: 750px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    
}

.photo{
    
    border-radius: 50%;
    
    position: absolute;
    margin-top: 80px;
    margin-left: 20px;

}

.about{
    width: 1100px; height: 500px;
    background: #F4F0EC;
    position: absolute;
    margin: 2000px 200px;
    border-radius: 30px;
}

#us{
    margin: 20px 170px;
    position: absolute;
    font-family: DM Serif Display;
font-size: 50px;
font-weight: 400;
line-height: 62.5px;
letter-spacing: 0.02em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.lor{
    margin-top: 50px;
    font-family: Jost;
    margin-left: 10px;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 200px;


}
.name{
    margin-left: 120px;
    font-family: DM Serif Display;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-top: 90px;
    position: absolute;


}
.adress{
    margin-left: 120px;
    margin-top: 120px;
    position: absolute;
    
}
